{% extends "app/base_site.html" %}

{% block title %} {{ number.accountnumber }} {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row tile_count">
    <div class="col-md-3 col-sm-6 col-xs-8 tile_stats_count">
	    <span class="count_top"><i class="fa fa-user"></i> Name: {{ number.name }}</span>
	    <i class="fa fa-money"></i><div class="count">{{ number.balance }}</div>
    </div>
   <!-- /top tiles -->
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
<div class="x_panel">
            <div class="x_title">
              <h2>Make a transfer</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form name="maketransfer" method="post" class="form-horizontal form-label-left input_mask">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Account Number</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" id="account" name="account" value="{{ number.accountnumber }}" class="form-control" readonly="readonly" placeholder="{{ number.accountnumber }}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Account destinition</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="heard" name="op_name" class="form-control" required="">
                      <option value="">Choose..</option>
                    {% for contas in others_c %}
                      {% if contas.accountnumber == number.accountnumber %}

                       {% else %}
                        <option value="{{ contas.accountnumber }}">{{ contas.name }} </option>
                      {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
  		   <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
</div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Transactions </h2>
        <ul class="nav navbar-left panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Account</th>
              <th>Value</th>
              <th>Transaction</th>
            </tr>
          </thead>
          <tbody>
            {% for lista in transacao %}
            <tr>
              <th scope="row">{{ lista.id }}</th>
              {% if lista.transaction == "D" %}
              <td class="count green">{{ lista.update_account }}</td>
              <td class="count grenn"><i class="fa fa-usd"></i>{{ lista.value }}</td>
              <td ><span class="label label-success">{{ lista.transaction }}</span></td>
              {% else %}
              <td class="count red">{{ lista.dest_account }}</td>
              <td class="count red"><i class="fa fa-usd"></i>{{ lista.value }}</td>
              <td ><span class="label label-danger">{{ lista.transaction }}</span></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  {% if p_title %}
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Títulos de Posse Adquiridos</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="list-unstyled timeline">
          {% for titulos in p_title %}
          <li>
            <div class="block">
              <div class="tags">
                <a href="" class="tag">
                  <span>{{ titulos.name_title }}</span>
                </a>
              </div>
              <div class="block_content">
                <h2 class="title">
                  <a>{{ titulos.name_title }}</a>
                </h2>
                {% for atributos in p_attr %}
                {% if atributos.possession == titulos %}
                <p class="excerpt"><p>
                {% if atributos.type_info == '1' %}
                  <i class="fa fa-home"></i>
                {% else %}
                  <i class="fa fa-building"></i>
                {% endif %}
                {{ atributos.name_attr }} - <i class="fa fa-usd"></i> {{ atributos.value }} </p>
                {% endif %}

                {% endfor %}
                <div class="tiles"></div>
                {% for info in p_info %}
                {% if info.info_possession == titulos %}
                <p class="excerpt"><p>
                {% if info.type_info == '1' %}
                  <i class="fa fa-home"></i>
                {% else %}
                  <i class="fa fa-building"></i>
                {% endif %}
                {{ info.description }} - <i class="fa fa-usd"></i>  {{ info.value }} </p>
                {% endif %}
                {% endfor %}
                </p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% else %}
  {% endif %}
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}

